<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/list.css}"/>
    <link rel="stylesheet" th:href="@{/css/form.css}"/>
</head>
<body>
<nav>
    <!-- 모바일용 햄버거 버튼 -->
    <button class="hamburger-btn">☰</button>
    <h1 th:text="|${username} (${roleDisplayName})|">사용자 (역할)</h1>
    <ul>
        <li>
            <a class="menu-link" data-url="/team/users" href="#"
            >전체 사용자 목록</a
            >
        </li>
        <li th:if="${isSuperAdmin}">
            <a class="menu-link" data-url="/admin/users/new" href="#">사용자 등록</a>
        </li>
        <li><a class="menu-link" data-url="/leaves/calendar" href="#">연차 캘린더</a></li>
        <li><a class="menu-link" data-url="/leaves" href="#">연차 목록</a></li>
        <li><a class="menu-link" data-url="/leaves/apply" href="#">연차 등록</a></li>
        <li><a class="menu-link" data-url="/admin/logs" href="#">로그 보기</a></li>
    </ul>
    <form class="logout-form" method="post" th:action="@{/logout}">
        <button class="logout-btn" type="submit">로그아웃</button>
    </form>
</nav>
<main id="main-content">
    <!--    <h2 th:text="| ${roleDisplayName} 홈|"></h2>-->
    <!--    <p>왼쪽 메뉴를 선택하여 기능을 이용하세요.</p>-->
</main>
<script th:src="@{/js/home.js}" type="module"></script>
</body>
</html>
